tfplan
tfplan.txt
*.tfbackend
*.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
!*.tfvars.example
!vars/*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
